@model IEnumerable<AppSemTemplate.Models.Produto>

@{
    ViewData["Title"] = "Meus Produtos";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="CriarProduto" class="btn btn-primary">Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                Ações
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="@Url.Content($"/images/{item.Imagem}")" style="max-height: 70px; max-width: 70px;"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                <botao tipo-botao="Detalhes" route-id="@item.Id"></botao>
                <botao tipo-botao="Editar" route-id="@item.Id"></botao>
                <botao tipo-botao="Excluir" route-id="@item.Id"></botao> 
            </td>
        </tr>
}
    </tbody>
</table>

@*Chamada sincrona*@
@* <vc:counter model-counter="@Model.Count()"></vc:counter> *@

@*Chamada assincrona*@
@await Component.InvokeAsync("Counter", Model.Count())